@import "~normalize.css";
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/roboto/v20/KFOmCnqEu92Fr1Mu4mxP.ttf) format('truetype');
}
.excel-header {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  height: 2.8rem;
  padding: 0.5rem 0.4rem 0;
  display: flex;
  justify-content: space-between;
}
.excel-header__title {
  margin: 0;
  padding: 2px 0.5rem;
  color: black;
  border: 1px solid transparent;
  border-radius: 2px;
  height: 1.4rem;
  font-size: 1.2rem;
  line-height: 1.39rem;
  outline: none;
}
.excel-header__title:hover {
  border: 1px solid #c0c0c0;
}
.excel-header__title:focus {
  border: 1px solid #436CB2;
}
.excel-header__btn {
  height: 2rem;
  min-width: 2rem;
  padding: 0.4rem;
  text-align: center;
  position: relative;
  display: inline-block;
  color: rgba(0, 0, 0, 0.7);
  transition: color, background-color, 0.5s;
}
.excel-header__btn span {
  font-size: 1.5rem;
}
.excel-header__btn:active,
.excel-header__btn.active {
  color: #20A464;
}
.excel-header__btn:hover {
  background-color: #eee;
  cursor: pointer;
}
.excel__table {
  position: absolute;
  left: 0;
  right: 0;
  top: 8rem;
  overflow-x: auto;
  padding-bottom: 2px;
}
.excel__table .row {
  display: flex;
  flex-direction: row;
  min-height: 20px;
  height: 2rem;
}
.excel__table .row-info {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 3.5rem;
  height: 100%;
  border: 1px solid #c0c0c0;
  background: #f8f9fa;
  border-top: none;
}
.excel__table .row-data {
  display: flex;
}
.excel__table .column {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f8f9fa;
  min-width: 40px;
  width: 10rem;
  border: 1px solid #c0c0c0;
  border-top: 0;
  border-left: 0;
  height: 100%;
}
.excel__table .cell {
  min-width: 40px;
  padding: 5px;
  width: 10rem;
  height: 100%;
  border: 1px solid #e2e3e3;
  border-top: 0;
  border-left: 0;
  color: #111;
  white-space: nowrap;
  outline: none;
}
.excel__table .cell.selected {
  border: none;
  outline: 1px solid #3c74ff;
  z-index: 2;
}
.excel-toolbar {
  position: absolute;
  height: 2.8rem;
  left: 0;
  right: 0;
  top: 2.8rem;
  border-top: 1px solid #c0c0c0;
  border-bottom: 1px solid #c0c0c0;
  padding: 0.5rem 0.9rem;
  display: flex;
}
.excel-toolbar__btn {
  height: 2rem;
  min-width: 2rem;
  padding: 0.4rem;
  text-align: center;
  position: relative;
  display: inline-block;
  color: rgba(0, 0, 0, 0.7);
  transition: color, background-color, 0.5s;
}
.excel-toolbar__btn span {
  font-size: 1.5rem;
}
.excel-toolbar__btn:active,
.excel-toolbar__btn.active {
  color: #20A464;
}
.excel-toolbar__btn:hover {
  background-color: #eee;
  cursor: pointer;
}
.excel-formula {
  position: absolute;
  left: 0;
  right: 0;
  top: 6rem;
  height: 2rem;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #c0c0c0;
}
.excel-formula__info {
  font-size: 1.2rem;
  font-style: italic;
  text-align: center;
  border-right: 1px solid #c0c0c0;
  min-width: 3.5rem;
}
.excel-formula__input {
  padding: 0.3rem;
  width: 100%;
  height: 100%;
  outline: none;
  font-size: 1rem;
  color: black;
}
.db__header {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  height: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  box-shadow: 0 2px 5px 2px rgba(60, 64, 67, 0.15);
  z-index: 1000;
}
.db__new {
  margin-top: 5rem;
  padding: 1.5rem;
  background-color: #dadce0;
}
.db__create {
  width: 10rem;
  height: 10rem;
  background-color: white;
  border-radius: 0.3rem;
  border: 1px solid #dadce0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  text-decoration: none;
  color: black;
  text-align: center;
}
.db__create:hover {
  cursor: pointer;
  color: #20A464;
  border-color: #20A464;
}
.db__box {
  max-width: 1000px;
  margin: 0 auto;
}
.db__table {
  padding: 1rem;
}
.db__list-header {
  display: flex;
  justify-content: space-between;
  color: #202124;
  font-weight: 500;
  font-size: 1.2rem;
  margin-bottom: 10px;
  padding: 0 12px;
}
.db__list {
  list-style: none;
  margin: 0;
  padding: 0;
}
.db__record {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1.1rem 1rem 1.2rem;
  margin-bottom: 0.9rem;
}
.db__record:hover {
  background-color: #e6f4ea;
  border-radius: 2rem ;
}
.db__record a {
  text-decoration: none;
  cursor: pointer;
  color: #202124;
  font-size: 1.2rem;
}
.db__record a:hover {
  text-decoration: underline;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  height: 100%;
  font-family: 'Roboto', sans-serif;
  min-width: 300px;
  font-size: 12px;
}
.excel {
  position: relative;
  color: #888;
  height: 100%;
  max-width: 100%;
}
/*# sourceMappingURL=main.css.map */